### Data Types

In [6]:
x=5
print(type(x))

<class 'int'>

In [7]:
x="Hello World"
print(type(x))

<class 'str'>

In [8]:
x=20.5
print(type(x))

<class 'float'>

In [9]:
x=["apple","banana","cherry"]
print(type(x))

<class 'list'>

In [10]:
x=("apple","banana","cherry")
print(type(x))

<class 'tuple'>

In [11]:
x={"name":"john","age":36}
print(type (x))

<class 'dict'>

In [12]:
x=True
print ( type (x))

<class 'bool'>

### Exercies on numbers

In [13]:
x=5
x=float(x)
print(x)

5.0

In [14]:
x=5.5
x=int(x)
print(x)

5


### Exercise on string

In [22]:
x="Hello World"
print(len(x))

11

### Get the first character of the string txt.

In [20]:
txt="Hello World"
print (txt[0])

H

### Get the characters from index 2 to index 4 (llo).

In [23]:
txt="Hello World"
print(txt[2:5])

llo

##### Return the string without any whitespace at the beginning or the end.

In [25]:
txt=" Hello World "
print(txt.strip())

Hello World

### Convert the value of `txt` to upper case.

In [27]:
txt="hello world"
print(txt.upper())

HELLO WORLD

### Convert the value of `txt` to lower case.

In [28]:
txt="HELLO WORLD"
print(txt.lower())

hello world

#### Replace the character` H` with a `J`

In [30]:
txt="Hello World"
print(txt.replace("H","J"))

Jello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [34]:
age=36
txt=f"My Name Is John And I am {age} Years Old"
print(txt)

My Name Is John And I am 36 Years Old

### Exercise on Booleans

In [35]:
print(10>9)

True

In [38]:
print(10==9)

False

In [39]:
print(10<9)

False

#### Write a Python program to print the following string in a specific format

In [49]:
print("twinkle,twinkle,little star\n How I Wonder You Are!\n\tUp Above The World So High,\n\tlike a Diamond in The Sky.\ntwinkle twinkle little Star\nHow I Wodner What You Are!")

twinkle,twinkle,little star
 How I Wonder You Are!
	Up Above The World So High,
	like a Diamond in The Sky.
twinkle twinkle little Star
How I Wodner What You Are!

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [53]:
first_name= input (" Enter Your First Name:")
last_name= input (" Enter Your Last Name: ")
print(last_name, first_name )

 Enter Your First Name:Mohamed
 Enter Your Last Name: Adel
Adel Mohamed

#### Write a Python program that calculates the area of a circle

In [61]:
import math
radius=float(input("Enter The Radius Of Circle:"))
area=math.pi*radius**2
print( "the area of the circle is :",area)

Enter The Radius Of Circle:2.5
the area of the circle is : 19.634954084936208

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [58]:
r=1.1
area=3.14*r**2
print("the area is: ",area)

the area is:  3.7994000000000008

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

In [65]:
file_name=input("Enter The File Name: ")
f_exts=file_name.split(".")
print(f_exts[-1])

Enter The File Name: deegoo
deegoo

### Exercise 5

In [87]:
value="Amit"

list_value=list(value)
tuple_value=tuple(value)

print("List is: ",list_value)
print("tuple is:",tuple_value)
print(value.replace("t","k"))
list_value1=str(list_value)
print(list_value1)
print(type(list_value1))

List is:  ['A', 'm', 'i', 't']
tuple is: ('A', 'm', 'i', 't')
Amik
['A', 'm', 'i', 't']
<class 'str'>

### Exercise 6

In [97]:
color_list=["Red","Green","White","Black"]
First_color= color_list[0]
Last_color= color_list[-1]
print("The First Color is:\n ",First_color)
print("The Last Color is:\n",Last_color)

The First Color is:
  Red
The Last Color is:
 Black

### Exercise 8

In [101]:
name="https://www.google.com/"
print(name.startswith("https"))

True

In [102]:
name="aimt4536@gmail.com"
print(name.endswith(".com"))

True